USE [master]
GO
/****** Object:  Database [ims2]    Script Date: 3/3/2015 11:10:55 AM ******/
CREATE DATABASE [ims2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ims2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ims2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ims2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ims2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ims2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ims2]
GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatesumoftotal](@key int)
returns money as 
begin
	return (
	
select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId and os.OrderId = 1 );
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal1]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatesumoftotal1](@key int)
returns money as 
begin
	return (
	
select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId and os.OrderId = 1 
group by o.BillId, o.BillNo);
end;


GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal10]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatesumoftotal10](@key int)
returns money as 
begin
	return (
	
	
select o.Total + isnull(p.SumofTotal,0)  from OrdersDetail o, OrdersDetail p
where p.OrderDetailId = @key-1 and o.OrderDetailId = @key and o.OrderId = p.OrderId
);
end;


GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal2]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatesumoftotal2](@key int)
returns money as 
begin
	return (
	
select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId and os.OrderId = @key);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal3]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[calculatesumoftotal3](@key int, @key1 int)
returns money as 
begin
	return (
	

select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId and os.OrderId = @key and (o.OrderDetailId = @key1-1 or o.OrderDetailId = @key1)
group by o.BillId, o.BillNo );
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal4]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[calculatesumoftotal4](@key int, @key1 int)
returns money as 
begin
	return (
	

select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId and os.OrderId = @key and (o.OrderDetailId = (@key1-1) or o.OrderDetailId = @key1)
group by o.BillId, o.BillNo );
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal6]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[calculatesumoftotal6](@key int)
returns money as 
begin
	return (
	
	
select o.Total + P.SumofTotal from OrdersDetail o, OrdersDetail p
where p.OrderDetailId = @key-1 and o.OrderDetailId = @key );
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal7]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[calculatesumoftotal7](@key int)
returns money as 
begin
	return (
	
	
select o.Total + p.Total from OrdersDetail o, OrdersDetail p
where p.OrderDetailId = @key-1 and o.OrderDetailId = @key
);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal8]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatesumoftotal8](@key int)
returns money as 
begin
	return (
	
	
select o.Total + p.SumofTotal + 0 from OrdersDetail o, OrdersDetail p
where p.OrderDetailId = @key-1 and o.OrderDetailId = @key
);
end;


GO
/****** Object:  UserDefinedFunction [dbo].[calculatesumoftotal9]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[calculatesumoftotal9](@key int)
returns money as 
begin
	return (
	
	
select o.Total + isnull(p.SumofTotal,0)  from OrdersDetail o, OrdersDetail p
where p.OrderDetailId = @key-1 and o.OrderDetailId = @key
);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatetotal]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatetotal](@id int)
returns int as 
begin
	return (
	select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = @id and os.OrderId = @id 
group by o.BillId, o.BillNo);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatetotal2]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatetotal2]()
returns int as 
begin
	return (
	select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId
group by o.BillId, o.BillNo);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatetotal3]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatetotal3]()
returns money as 
begin
	return (
	select sum((o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount)) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId
group by o.BillId, o.BillNo);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatetotal4]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatetotal4]()
returns money as 
begin
	return (
	select (o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId);
end;

GO
/****** Object:  UserDefinedFunction [dbo].[calculatetotal5]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculatetotal5](@key int)
returns money as 
begin
	return (
	select (o.OrderedQuantity * p.UnitSellPrice) - (o.OrderedQuantity * p.Discount) abc from OrdersDetail o, Product p , Orders os
where p.ProductId = o.ProductId and os.OrderId = o.OrderId and o.OrderDetailId = @key);
end;


GO
/****** Object:  UserDefinedFunction [dbo].[newTotal]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[newTotal](@key int)
returns money as 
begin
	declare @num money = ( select Total from OrdersDetail where OrderDetailId = @key );
	declare @num1 money = (select Total from OrdersDetail where OrderDetailId = @key -1);
	declare @sum money = @num + @num1;
	return @sum;
end;

GO
/****** Object:  UserDefinedFunction [dbo].[sumoftotal1]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sumoftotal1](@key1 int)
returns money as 
begin
return (
select sum(total) from OrdersDetail 
where OrderDetailId = @key1 
group by BillId, BillNo) 
end;

GO
/****** Object:  UserDefinedFunction [dbo].[sumoftotal2]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sumoftotal2](@key1 int)
returns money as 
begin
return (
select sum(total) from OrdersDetail 
where OrderId = @key1 ) 
end;

GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CatID] [int] NOT NULL,
	[CatName] [nvarchar](50) NOT NULL,
	[CatDescription] [nvarchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustData]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustData](
	[CID] [int] NOT NULL,
	[Regno] [bigint] IDENTITY(2345,1) NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[StaffID] [int] NOT NULL,
 CONSTRAINT [PK_CustData] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerAddr]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddr](
	[CID] [int] NOT NULL,
	[Adress] [int] NOT NULL,
	[AdressDetail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomerAddr] PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[Adress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerContact]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContact](
	[CID] [int] NOT NULL,
	[Contact] [int] NOT NULL,
	[ContactNo] [bigint] NOT NULL,
 CONSTRAINT [PK_CustomerContact] PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerEmail]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerEmail](
	[CID] [int] NOT NULL,
	[Email] [int] NOT NULL,
	[EmailAdress] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomerEmail] PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[ErrorMsg] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrdersDetail]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[OrdersDetail](
	[OrderDetailId] [int] NOT NULL,
	[BillId] [char](1) NOT NULL,
	[BillNo] [bigint] NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [char](1) NOT NULL,
	[OrderedQuantity] [int] NOT NULL,
	[DeliveredQuantity] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Total]  AS ([dbo].[calculatetotal5]([OrderDetailId])),
	[SumofTotal]  AS ([dbo].[sumoftotal2]([OrderId])),
 CONSTRAINT [PK_OrdersDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[BillId] [nchar](1) NOT NULL,
	[Paytype] [nvarchar](50) NOT NULL,
	[CreditAmount] [money] NOT NULL,
	[DebitAmount] [money] NOT NULL,
	[DebitDate] [datetime] NOT NULL,
	[Balance] [money] NOT NULL,
	[BillNo] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC,
	[DebitDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] NOT NULL,
	[CatID] [int] NOT NULL,
	[PItem] [nvarchar](50) NOT NULL,
	[PDescr] [nvarchar](50) NOT NULL,
	[Discount] [int] NOT NULL,
	[UnitPerStock] [int] NOT NULL,
	[UnitsInOrder] [int] NOT NULL,
	[UnitCost] [int] NOT NULL,
	[UnitSellPrice] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
	[Images] [varbinary](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[Roleid] [int] NOT NULL,
	[RoleName] [varchar](50) NULL,
	[RoleDesc] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaffAddr]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAddr](
	[StaffID] [int] NOT NULL,
	[Address] [int] NOT NULL,
	[AddressDetail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StaffAddr] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffContact]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffContact](
	[StaffID] [int] NOT NULL,
	[Contact] [int] NOT NULL,
	[ContactNo] [bigint] NOT NULL,
 CONSTRAINT [PK_StaffContact] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffData]    Script Date: 3/3/2015 11:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffData](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Roleid] [int] NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [varchar](1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StaffData] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Category] ([CatID], [CatName], [CatDescription]) VALUES (1, N'cloth', N'jeans,shirts')
INSERT [dbo].[Category] ([CatID], [CatName], [CatDescription]) VALUES (3, N'devices', N'electronix')
INSERT [dbo].[Category] ([CatID], [CatName], [CatDescription]) VALUES (4, N'Home Appliances', N'electronics')
INSERT [dbo].[Role] ([Roleid], [RoleName], [RoleDesc]) VALUES (1, N'CEO', N'Boss')
INSERT [dbo].[Role] ([Roleid], [RoleName], [RoleDesc]) VALUES (2, N'WareHouse Manager', N'Keeps record of incoming and outgoing items/products')
INSERT [dbo].[Role] ([Roleid], [RoleName], [RoleDesc]) VALUES (3, N'Cloth Sales Manager', N'Deploy sales to Local Areas')
INSERT [dbo].[StaffAddr] ([StaffID], [Address], [AddressDetail]) VALUES (15, 1, N'lollypop')
INSERT [dbo].[StaffAddr] ([StaffID], [Address], [AddressDetail]) VALUES (15, 2, N'safora')
INSERT [dbo].[StaffAddr] ([StaffID], [Address], [AddressDetail]) VALUES (31, 1, N'fgfg')
INSERT [dbo].[StaffContact] ([StaffID], [Contact], [ContactNo]) VALUES (15, 1, 78601)
INSERT [dbo].[StaffContact] ([StaffID], [Contact], [ContactNo]) VALUES (15, 2, 900)
INSERT [dbo].[StaffContact] ([StaffID], [Contact], [ContactNo]) VALUES (31, 1, 434324)
SET IDENTITY_INSERT [dbo].[StaffData] ON 

INSERT [dbo].[StaffData] ([StaffID], [Roleid], [Fname], [Lname], [DOB], [Gender], [Username], [Password]) VALUES (4, 1, N'mohib', N'khan', CAST(0x27390B00 AS Date), N'M', N'mohib', N'mmk')
INSERT [dbo].[StaffData] ([StaffID], [Roleid], [Fname], [Lname], [DOB], [Gender], [Username], [Password]) VALUES (15, 2, N'mok', N'kji', CAST(0x27390B00 AS Date), N'M', N'moka', N'kahn')
INSERT [dbo].[StaffData] ([StaffID], [Roleid], [Fname], [Lname], [DOB], [Gender], [Username], [Password]) VALUES (31, 1, N'ewrewr', N'werwer', CAST(0x19390B00 AS Date), N'M', N'rwerwe', N'werwer234234')
SET IDENTITY_INSERT [dbo].[StaffData] OFF
ALTER TABLE [dbo].[CustData]  WITH CHECK ADD  CONSTRAINT [FK_CustData_StaffData] FOREIGN KEY([StaffID])
REFERENCES [dbo].[StaffData] ([StaffID])
GO
ALTER TABLE [dbo].[CustData] CHECK CONSTRAINT [FK_CustData_StaffData]
GO
ALTER TABLE [dbo].[CustomerAddr]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddr_CustData] FOREIGN KEY([CID])
REFERENCES [dbo].[CustData] ([CID])
GO
ALTER TABLE [dbo].[CustomerAddr] CHECK CONSTRAINT [FK_CustomerAddr_CustData]
GO
ALTER TABLE [dbo].[CustomerContact]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContact_CustData] FOREIGN KEY([CID])
REFERENCES [dbo].[CustData] ([CID])
GO
ALTER TABLE [dbo].[CustomerContact] CHECK CONSTRAINT [FK_CustomerContact_CustData]
GO
ALTER TABLE [dbo].[CustomerEmail]  WITH CHECK ADD  CONSTRAINT [FK_CustomerEmail_CustData] FOREIGN KEY([CID])
REFERENCES [dbo].[CustData] ([CID])
GO
ALTER TABLE [dbo].[CustomerEmail] CHECK CONSTRAINT [FK_CustomerEmail_CustData]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CustData] FOREIGN KEY([CID])
REFERENCES [dbo].[CustData] ([CID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CustData]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_StaffData] FOREIGN KEY([StaffID])
REFERENCES [dbo].[StaffData] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_StaffData]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetail_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrdersDetail] CHECK CONSTRAINT [FK_OrdersDetail_Orders]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrdersDetail] CHECK CONSTRAINT [FK_OrdersDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CatID])
REFERENCES [dbo].[Category] ([CatID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[StaffAddr]  WITH CHECK ADD  CONSTRAINT [FK_StaffAddr_StaffData] FOREIGN KEY([StaffID])
REFERENCES [dbo].[StaffData] ([StaffID])
GO
ALTER TABLE [dbo].[StaffAddr] CHECK CONSTRAINT [FK_StaffAddr_StaffData]
GO
ALTER TABLE [dbo].[StaffContact]  WITH CHECK ADD  CONSTRAINT [FK_StaffContact_StaffData] FOREIGN KEY([StaffID])
REFERENCES [dbo].[StaffData] ([StaffID])
GO
ALTER TABLE [dbo].[StaffContact] CHECK CONSTRAINT [FK_StaffContact_StaffData]
GO
ALTER TABLE [dbo].[StaffData]  WITH CHECK ADD  CONSTRAINT [FK_Roleid] FOREIGN KEY([Roleid])
REFERENCES [dbo].[Role] ([Roleid])
GO
ALTER TABLE [dbo].[StaffData] CHECK CONSTRAINT [FK_Roleid]
GO
USE [master]
GO
