USE [master]
GO
/****** Object:  Database [inventory]    Script Date: 3/3/2015 11:11:32 AM ******/
CREATE DATABASE [inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\inventory.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\inventory_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventory]
GO
/****** Object:  Table [dbo].[table2]    Script Date: 3/3/2015 11:11:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table2](
	[id] [int] NOT NULL,
	[fk_id] [int] NOT NULL,
	[desc] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
