body {
}



.tile {
    height: 300px;
    width: 100%;
    /*margin: 0 auto;*/
    /*position: absolute;*/  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
    

}

.tile1 {
    height: 100px;
    width: 100px;
    /*margin: 0 auto;*/
    /*position: absolute;*/  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
    

}

.tileContainer {
    width: 1000px;

    margin: 0 auto;
    overflow: scroll;
}

.inputSearchBox {
    border: none;
    opacity: 0.8;
    height: 25px;
    width: 100%;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: medium;
    background-color: azure;
    text-align: center;
}

.outlineBox {
    width: 200px;
    height: 400px;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin: 15px;
    /*cursor: pointer;*/
    color: black;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
    /*background: rgba(0,0,0,.5);*/


    border-radius: 6px;
    position: relative;
}



.outlineBox1 {
    width: 300px;
    height: 300px;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin: 15px;
    /*cursor: pointer;*/
    color: black;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
    /*background: rgba(0,0,0,.5);*/


    border-radius: 6px;
    position: relative;
}
.text 
{
    height: auto;
    margin:auto;
}

.container {
    width: 960px;
    background-color: #FFF;
    margin: 0 auto;
    word-break: keep-all;
}

.container1 {
    width: 400px;
    background-color: #FFF;
    margin: 0 auto;
    word-break: keep-all;
    border-bottom: dotted;
    border-color: black;
    border-width: 2px;
}

.sidebar1 {
    float: left;
    width: 180px;
    background-color: transparent;
    padding: 10px 0;
    margin-right: 10px;
}

.content {
    padding: 10px 0;
    width: 580px;
    float: right;
    font-family: 'Times New Roman';
}


.content1 {
    padding: 10px 0;
    width: 580px;
    height: 400px;
    float: right;
    font-family: 'Times New Roman';
    font-size: larger;
    border: black dotted;
    color: black;
}


.description {
    
    font-family:Aparajita;
    font-weight:bold;
    font-size:20px;
}

